html,body{
  padding: 0;
  margin: 0;
  background-color: #18181b;
  font-family: 'Verdana ', sans-serif;
}
.split {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  margin-top: 10px;
}
.header{
  text-align: center;
  /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/

  color: white;
  height: 50px;
}
.center{
  text-align: center;
}
.player--box{
margin: 5px;
  border-radius: 10px;
  background-color: #303036;
  min-height: 25%;
  text-align: center;
}
h2,h3{
  color:white;
  text-align: center;
}

input{
  font-size: 18px;
  width: 140px;
  border: 7px solid;
  border-color: #222;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  color: white;
}
th{
  font-size: 18px;
  padding: 10px;
}
td input{
  font-size: 18px;
  width: 140px;
  border: 4px solid;
  border-color: #222;
  border-radius: 5px;
  pointer-events: none;
  font-family: 'Karla', sans-serif;
}
.rules{
  color: white;
}
.center button{
  border: thick white solid
}
.warning{
  position: absolute;
  color: white;
  bottom:-42px;
text-align: center;
width: 100%
}
.rel {
  position: relative;
 
}


/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 16px;
  padding: 7.5px 35px;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
.table--won tr:nth-child(2) td:first-child,
.table--won tr:nth-child(2) td:last-child{
  background-color:  green;
}
.rules--table td{
  padding: 8px;
  border: 1px solid white
}

.rules--table th{
  padding: 8px;
  border: 1px solid white}




